@import url(https://db.onlinewebfonts.com/c/cec88e5a4cf367c4620cd23c5a184439?family=PolySans+Median);

* {
  margin: 0;
  padding: 0;
}


body {

  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: PolySans Median;
}

ul {
  list-style: none;
}

.navbar ul {

  display: flex;
  justify-content: space-evenly;

}