body {

    width: 100%;
    height: 100vh;

}

h1 {
    color: red;
    text-align: center;
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    background-color: yellow;
    font-size: 2rem;
}

img {
    width: 100px;
    height: 150px;
}

/* 
- Text Styling
  - Color
  - Font-size
  - Text-align
  - Font-family
- Background
  - Background-color
  - Background-image
- Box Model

  - Padding
  - Border
  - Margin
 */